/* Body */
body {
    font-family: OpenSans;
    background-color: whitesmoke;
    color:black
}
img {
	display: block;
	margin-left:auto;
	margin-right:auto;
}
figcaption {
	text-align:center;
}
@font-face {
    font-family: OpenSans;
    src: url(OpenSans-VariableFont_wdth,wght.ttf);
}
.header {
    overflow: hidden;
    background-color: #FFCE2E;
    padding: 20px 10px;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
.header a.active {
    color: orangered;
}
.header-right {
    float: right;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
.header a {
    float: none;
    display: block;
    text-align: left;
}
.header-right {
    float: none;
}}
.image {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 width:50%;
 }
 .ltrain {
	 color:#A7A9AC;
	 -webkit-text-stroke: 1px black;
 }
 .gtrain {
	 color:#6CBE45;
	 -webkit-text-stroke: 1px black;
 }
#mbikes {
       font-weight: bold;
}
#bbikes {
	font-weight:bold;
}
#transitlogo {
	display: inline;
	height: 1em;
}
